/* .container {
	height: calc(100vh-100px);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	gap: 30px;
} */
@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.img {
		object-fit: contain;
		height: 350px;
		width: 350px;
	}
}
