.container {
	display: flex;
	flex-direction: column;

	gap: 30px;
}

.itemsHover {
	margin-bottom: 50px;
}
.mainTitle {
	font-size: 100px;

	background: linear-gradient(to bottom, #ed7ed5, #e0d9df);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	background-clip: text;
	color: transparent;

	margin-top: 0;
	margin-bottom: 0;

	text-align: center;
}

.selectTitle {
	background: linear-gradient(to bottom, #ed7ed5, #e0d9df);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	background-clip: text;
	color: transparent;
	margin: 20px 0px;
}

.items {
	display: flex;
	gap: 50px;
}

.portfolioItems {
	border: 3px solid rgb(205, 184, 203);
	border-radius: 5px;
	height: 550px;
	width: 450px;
	position: relative;
	background-size: cover !important;
}

.title {
	position: absolute;
	font-size: 30px;
	font-weight: bold;
	right: 10px;
	bottom: 10px;
}
.portfolioItems:hover .title {
	color: rgb(252, 157, 227);
}

.portfolioItems:nth-child(1) {
	background: url('/mayabi1.jpg');

	margin-top: 50px;
}

.portfolioItems:nth-child(2) {
	background: url('/amra3.jpg');
}

.portfolioItems:nth-child(3) {
	background: url('/mahim1.jpg');

	margin-top: 50px;
}

.itemsHoverBottom {
	margin-bottom: 80px;
}
.bottomPortfolioItems {
	border: 3px solid rgb(205, 184, 203);
	border-radius: 5px;
	height: 550px;
	width: 450px;
	position: relative;
	background-size: cover !important;

	margin-top: 100px;
}
.bottomPortfolioItems:hover .title {
	color: rgb(252, 157, 227);
}

.bottomItems {
	display: flex;
	gap: 50px;
}

.bottomPortfolioItems:nth-child(1) {
	background: url('/mayabiabbu7.JPG');

	margin-top: 50px;
}

.bottomPortfolioItems:nth-child(2) {
	background: url('/mayabiami2.png');
}

.bottomPortfolioItems:nth-child(3) {
	background: url('/mahimabbu6.jpg');

	margin-top: 50px;
}

.endPortfolioItems {
	border: 3px solid rgb(205, 184, 203);
	border-radius: 5px;
	height: 540px;
	width: 490px;
	position: relative;
	background-size: cover !important;

	margin-top: 100px;
}
.endPortfolioItems:hover .title {
	color: rgb(252, 157, 227);
}
.endItems {
	display: flex;
	gap: 50px;
}

.endPortfolioItems:nth-child(1) {
	background: url('/mayabiblack.jpg');
	margin-top: 50px;
}
.endPortfolioItems:nth-child(2) {
	background: url('/mahimami3.jpg');
}
.endPortfolioItems:nth-child(3) {
	background: url('/amimayabimahim3.jpg');
	margin-top: 50px;
}
@media screen and (max-width: 1280px) {
	.container {
		display: flex;
		flex-direction: column;

		gap: 20px;
	}

	.itemsHover {
		margin-bottom: 20px;
	}
	.mainTitle {
		font-size: 60px;
		background: linear-gradient(to bottom, #ed7ed5, #e0d9df);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		background-clip: text;
		color: transparent;

		margin-top: 0;
		margin-bottom: 0;

		text-align: center;
	}

	.selectTitle {
		margin: 20px 0px;
	}

	.portfolioItems {
		border: 3px solid rgb(205, 184, 203);
		border-radius: 5px;
		height: 350px;
		width: 350px;
		position: relative;
		background-size: cover !important;
	}
	.bottomPortfolioItems {
		border: 3px solid rgb(205, 184, 203);
		border-radius: 5px;
		height: 350px;
		width: 350px;
		position: relative;
		background-size: cover !important;

		margin-top: 100px;
	}

	.endPortfolioItems {
		border: 3px solid rgb(205, 184, 203);
		border-radius: 5px;

		height: 350px;
		width: 350px;
		position: relative;

		background-size: cover !important;

		margin-top: 100px;
	}
}

@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		gap: 10px;
	}
	.mainTitle {
		font-size: 50px;
		background: linear-gradient(to bottom, #ed7ed5, #e0d9df);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		background-clip: text;
		color: transparent;

		margin-top: 0;
		margin-bottom: 0;

		text-align: center;
	}

	.selectTitle {
		margin: 10px 0px;
	}
	.items {
		display: flex;
		flex-direction: column;
	}

	.items {
		width: 100%;
	}
	.bottomItems {
		display: flex;
		flex-direction: column;
	}
	.itemsHoverBottom {
		margin-bottom: 20px;
	}
	.endItems {
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 640px) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		gap: 10px;
	}
}
