* {
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

:root {
	--bg: black;
	--text: rgb(205, 184, 203);
}

* body {
	color: var(--text);
	background-color: var(--bg);
}

a {
	color: inherit;
	text-decoration: none;
}

.theme {
	transition: 1s all ease;
}

.dark {
	background-color: black;
	color: rgb(205, 184, 203);
}

.light {
	color: black;
	background-color: rgb(205, 184, 203);
}

.container {
	width: 1536px;
	min-height: 100vh;

	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 1536px) {
	.container {
		width: 1366px;
	}
}

@media (max-width: 1366px) {
	.container {
		width: 1280px;
	}
}

@media (max-width: 1280px) {
	.container {
		width: 1024px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 640px;
	}
}

@media (max-width: 640px) {
	.container {
		width: 475px;
	}
}

@media (max-width: 475px) {
	.container {
		width: 100%;
	}
}
.clip_path {
	clip-path: polygon(50% 0%, 100% 0, 100% 78%, 49% 100%, 0 79%, 0 0);
	height: 88vh;
	width: 100%;
	background: rgb(233, 233, 240);

	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: center;
}
